<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361025312684-kgdpam839a1cbanjoiiq9hqs3itcc5af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361025312684-kgdpam839a1cbanjoiiq9hqs3itcc5af</string>
	<key>API_KEY</key>
	<string>AIzaSyBrGy_JQFvSnBjtJ5MgZxc46-CH3xK7sKc</string>
	<key>GCM_SENDER_ID</key>
	<string>361025312684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wpd</string>
	<key>PROJECT_ID</key>
	<string>wpd-app-95390</string>
	<key>STORAGE_BUCKET</key>
	<string>wpd-app-95390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361025312684:ios:e85ebb0442e566169a0c09</string>
</dict>
</plist>